.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination__left ,
.pagination__right{
    font-size: 5rem;
    color: white;
}
.pagination__button{
    height: 3rem;
    width: 3rem;
    cursor: pointer;

}